<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tile000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,360}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,360}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{400,0},{400,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,360}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{800,0},{400,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,360}</string>
                <key>spriteSourceSize</key>
                <string>{400,360}</string>
                <key>textureRect</key>
                <string>{{1200,0},{400,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tap asset.png</string>
            <key>size</key>
            <string>{1600,360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39c2e18ee9b4c7e4de6d9ac423944713:2e59ed42000fc61c82fa37398791c59e:748d8c70787efbe285a1762675c37e93$</string>
            <key>textureFileName</key>
            <string>tap asset.png</string>
        </dict>
    </dict>
</plist>
